automysqlbackup:
  config:
    backup_dir: /var/backups/db
    mysql_dump_latest: 'yes'  # Have to quote it or salt changes it to True

  cron:
    enabled: True    # Default False
    minute: 15       # Default *
    hour: 1,7,13,19  # Default *
    daymonth: 10-20  # Default *
    month: '*'       # Default *
    dayweek: 2-5     # Default *